# System files #
################
.DS_Store

# IDE metadata #
####################
.classpath
.project
.settings
.idea/
*.iml

# Editor Temporary #
####################
*.swp

# Python #
##########
__pycache__

# Data #
########
*.zip

# Experiment Output #
#####################
*-learned.psl
out*.txt
out*.err
inferred-predicates/
results/
